<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo4.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.example.demo4.entity.Dept">
    <id column="dno" jdbcType="INTEGER" property="dno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="job" jdbcType="VARCHAR" property="job" />
  </resultMap>
  <sql id="Base_Column_List">
    dno, dname, job
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept
    where dno = #{dno,jdbcType=INTEGER}
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dept
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept
    where dno = #{dno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo4.entity.Dept">
    insert into dept (dno, dname, job
      )
    values (#{dno,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo4.entity.Dept">
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dno != null">
        dno,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="job != null">
        job,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dno != null">
        #{dno,jdbcType=INTEGER},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo4.entity.Dept">
    update dept
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
    </set>
    where dno = #{dno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo4.entity.Dept">
    update dept
    set dname = #{dname,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR}
    where dno = #{dno,jdbcType=INTEGER}
  </update>
</mapper>